<!DOCTYPE html>
<html>
<head>
	<title>Course</title>
	<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Teach-Me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/magnific-popup.css') }}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css') }}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/flexslider.css') }}">

	<!-- Pricing -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/pricing.css') }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

	<!-- Modernizr JS -->
	<script src="{{ url_for('static',filename='js/modernizr-2.6.2.min.js') }}"></script>
	

</head>
<body>
	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						
						<p class="num">Call: +213658079416</p>
						<ul class="fh5co-social">
							<li><a href="https://web.facebook.com/walid.gstreet"><i class="icon-facebook2"></i></a></li>
							<li><a href="#"><i class="icon-twitter2"></i></a></li>
							<li><a href="#"><i class="icon-dribbble2"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="url_for('.index')"><i class="icon-study"></i>Teach-Me<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="active"><a href="{{ url_for('indexc') }}"><b>Home</b></a></li>
							<li><a href="{{ url_for('courses') }}"><b>Courses</b></a></li>
							<li><a href="{{ url_for('forum') }}"><b>Forum</b></a></li>
							<li><a href="{{ url_for('about') }}"><b>About</b></a></li>
							
							

							<li><a href="{{ url_for('contact') }}"><b>Contact</b></a></li>
			{% if login_button == 0 %}
              <li class="has-dropdown">
                <a href="#"><b>Manage</b></a>
                <ul class="dropdown">
                  <li><a href="{{ url_for('index') }}">Dashboared</a></li>
                  <li><a href="{{ url_for('indexc') }}">Home</a></li>
                  <li><a href="{{ url_for('EditProfile') }}">Profile</a></li>
                  <li><a href="{{ url_for('logout') }}">logout</a></li>
                </ul>
              </li>
              {% endif %}
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>
	<form action="" method="post">

	{% if not quizes: %}
		<h1 style="color: #070742" align="center">No Quizz yet ! stay tunned</h1>
	{% else %}
	<h1 style="color: #070742" align="center"><b>Quizz</b></h1>
	<h2 style="color: #070742"align="center">Testing your Skills with our exercices to asure your knowledge</h2>
		{% for i in quizes %}
			<div class="container">
               <h2>{{ i[1]|safe }}</h2>
               {{ i[2]|safe }}
             </div>
        {% endfor %}

             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <button type="submit" type ="submit"class="btn btn-success btn-lg ">Get Result</button>
		
        {% endif %}
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static',filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static',filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Stellar Parallax -->
	<script src="{{ url_for('static',filename='js/jquery.stellar.min.js') }}"></script>
	<!-- Carousel -->
	<script src="{{ url_for('static',filename='js/owl.carousel.min.js') }}"></script>
	<!-- Flexslider -->
	<script src="{{ url_for('static',filename='js/jquery.flexslider-min.js') }}"></script>
	<!-- countTo -->
	<script src="{{ url_for('static',filename='js/jquery.countTo.js') }}"></script>
	<!-- Magnific Popup -->
	<script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/magnific-popup-options.js') }}"></script>
	<!-- Count Down -->
	<script src="{{ url_for('static',filename='js/simplyCountdown.js') }}"></script>
	<!-- Main -->
	<script src="{{ url_for('static',filename='js/main.js') }}"></script>