{% include"header.html" %}
<div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Teachers</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="dataTables_length" id="dataTable_length">
                      </div></div></div><div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 57px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Name</th>

                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 62px;" aria-label="Position: activate to sort column ascending">Surname</th>

                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 52px;" aria-label="Office: activate to sort column ascending">Email</th>
                      
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 31px;" aria-label="Age: activate to sort column ascending">Birth</th>
                      
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 73px;" aria-label="Start date: activate to sort column ascending">Role</th>

                      

                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 70px;">Action</th>
                    </tr>
                  </thead>
                  <tfoot>
                    
                    <tr>
                      <th rowspan="1" colspan="1">Name</th>
                      <th rowspan="1" colspan="1">Surname</th>
                      <th rowspan="1" colspan="1">Email</th>
                      <th rowspan="1" colspan="1">Birth</th>
                      <th rowspan="1" colspan="1">Role</th>
                     
                      <th rowspan="1" colspan="1">Action</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for i in AllTeachers %}  
                  <tr role="row" class="odd">
                      <td class="sorting_1">{{ i[1] }}</td>
                      <td>{{ i[2] }}</td>
                      <td>{{ i[4] }}</td>
                      <td>{{ i[6] }}</td>
                      <td>{{ i[10] }}</td>
                      
                      <td><a href="#" class="btn btn-info btn-circle"><i class="fas fa-info"></i></a>
                      <a href="#" class="btn btn-danger btn-circle "><i class="fas fa-trash"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table></div></div><div class="row">
              </div>
            </div>
          </div>
          <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
          <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
          <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
          <script src="{{ url_for('static',filename='js/sb-admin-2.min.js') }}"></script>
          <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
          <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
          <script src="{{ url_for('static',filename='js/demo/datatables-demo.js') }}"></script>